/* Normalizace */
* {
  box-sizing: border-box;
}

/* Zarovnani obsahu doprostred stranky */
html {
  min-height: 100vh;
}

body {
  min-height: inherit;
  margin: 0;
}

body {
  background-color: lightyellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Layout */
header,
main {
  padding: 1rem;
}

/* Hlavička */
.branding {
  display: flex;
  align-items: center;
}

.branding-logo {
  margin-right: 1rem;
}

.branding-name {
  font-size: 1.5rem;
}

/* Network status */
.offline .network-status {
  background-color: red;
  color: #fff;
  display: inline-block;
  padding: 0.5em;
  position: fixed;
  top: 1rem;
  right: 1rem;
}

/* Detekce zobrazovaného módu */
@media all and (display-mode: standalone) {
  body::before {
    content: 'Je aktivní display mód: "standalone" (obsah se zobrazuje v aplikaci).';
    padding: .5em;
    border: 1px solid green;
    background-color: lightgreen;
  }
}

/* .add-button {
  position: absolute;
  top: 1em;
  left: 1em;
} */

/*img {
    display: block;
    width: 100%;
}

@media (orientation: landscape) {
    img {
        height: 100%;
        object-fit: cover;
    }
}*/